/* styles.css */

body {
    background-color: black;
    justify-content: center;
    align-items: center;
}

.header {
    /* margin-top: 50px; */
    color: white;
    font-size: 90px;
    text-align: center;
    font-family: "Chalkduster";
}

.mainContent {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.options {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
}

.penColour,
.backgroundColour {
    font-family: "Bradley Hand";
    font-size: 25px;
    color: black;
    display: flex;
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.backgroundColour {
    font-size: 22px;
}

.penColour span,
.backgroundColour span {
    margin-left: 30px;
    position: absolute;
    top: 6px;
    left: 88px;
}

.backgroundColour span {
    top: 8px;
}

.colourBox {
    height: 36px;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid black;
    width: 25%;
    margin-bottom: 10px;
    box-shadow: 0 0 15px black;
}

input[type="color"] {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    width: 200%;
    height: 200%;
    transform: translateX(-10px) translateY(-10px);
}

/* button transations and styling */
button {
    display: block;
    color: black;
    font-family: "Bradley Hand";
    background-color: white;
    font-size: 23px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 9px 15px;
    width: 100%;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

button.active {
    background-color: black;
    color: white;
}

button:hover {
  transform: scale(1.05);
}

.slider {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

#sliderBar {
    width: 40%;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 12px;
    left: 0;
}

input[type="range"] {
    width: 100%;
    height: 2px;
    background: black;
    appearance: none;
    outline: none;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
}

.size {
    font-family: "Bradley Hand";
    font-size: 25px;
    color: black;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 2px;
}

#rangeValue {
    text-align: center;
}

.gridLineButton {
    margin-top: 20px;
    /* background-color: black;
    color: white; */
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 670px;
    background-color: white;
    border-radius: 4px;
}

.gridContent {
    display: grid;
    width: 630px;
    height: 620px;
    border: 1px solid black;
}

.gridItems {
    user-select: none;
}

.topLeftBorder {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

.rightBorder {
    border-right: 1px solid grey;
}

.bottomBorder {
    border-bottom: 1px solid grey;
}

:root {
    --bgColour: #ffffff;
}

.fadeEffect {
    background-color: var(--bgColour) !important;
    transition: background-color 1.2s ease; 
}

/* .clear {
    background-color: rgb(62, 166, 255);
    color: #202020;
} */